* {
    margin: 0;
    padding: 0;
}

:root {
    --corTexto: #202020e3;
}

body {
    text-align: center;
    color: var(--corTexto);
}

header {
    margin: 30px 0;
}

#calculadora {
    width: 40%;
    margin: 0 auto;
}

#display {
    background-color: rgba(245, 243, 243, 0.952);
    text-align: right;
    padding: 10px;

    border: solid 1px #00000059;
    border-radius: 2px;
}

#teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#teclado button{
    padding: 15px;
    border: solid 1px #00000098;
    border-radius: 2px;
}

#teclado button:hover {
    transition: 0.3s ease;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.24);
}

.teclasDestaque {
    background-color: rgba(155, 152, 152, 0.425);
}

footer {
    margin: 50px 0px;
    font-size: 0.9rem;
}

.links {
    text-decoration: none;
    color: var(--corTexto);
    font-weight: 600;
}

.links:hover {
    font-weight: 900;
    color: rgb(31, 30, 30);
    transition: 0.5s ease;
}